<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <title>Home</title>
</head>
<body>
    <div class="content">
        <h1>Welcome to {{ name }}'s Resume API!</h1>
        <p id="datetime"></p>
        <a href="mailto:Niharreddy.k@gmail.com"><i class="fas fa-envelope"></i> Niharreddy.k@gmail.com</a> | <i class="fas fa-phone-alt"></i> +1(847)-786-9012
        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/niharkarra/">https://www.linkedin.com/in/niharkarra/</a></p>
        <h2 id="About"><i class="fas fa-align-left"></i> About</h2>
        <p>{{ about }}</p>
        <h2 id="technical-skills"><i class="fas fa-laptop-code"></i> Skills</h2>
        <ul>
            {% for skill in skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <h2 id="awards-certifications"><i class="fas fa-trophy"></i> Awards &amp; Certifications</h2>
        <ul>
            {% for certification in certifications %}
                <li>{{ certification }}</li>
            {% endfor %}
        </ul>
        <h2 id="education"><i class="fas fa-graduation-cap"></i> Education</h2>
        <ul>
            {% for education_item in education_data %}
                <li>
                    <strong>Degree:</strong> {{ education_item.degree }}<br>
                    <strong>Major:</strong> {{ education_item.major }}<br>
                    <strong>Year:</strong> {{ education_item.year }}<br>
                    <strong>Location:</strong> {{ education_item.location }}<br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile Image">
    <!-- <img src="d7p9z90iml6yf.cloudfront.net" alt="profile.png"> -->
    <footer>
        <p>&copy; 2023 Nihar Karra. All rights reserved.</p>
    </footer>    
</body>
</html>
